# Loops
Loops can be used to avoid repetition of the code multiple times<br>
Python has 2 loops
* for
* while<br>

We can use loops to iterate through the values.

### for loop
We can iterate through the values which are iterable i.e.,<br>
String<br>
Tuple<br>
List<br>
Set<br>
Dictionary<br>
any other iterable objects.

In [1]:
for i in range(6):
    print("Statement")

Statement
Statement
Statement
Statement
Statement
Statement

In [2]:
studentsList=["a","b","c","d","e","f","g","h","i","j","k","l","m","n"]
numbersList=[0,1,2,3,4,5,6,7,8]
countriesList=["India","US","Russia","Japan","Australia","UK"]
for i in studentsList:
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n

In [3]:
for i in numbersList:
    print(i)

0
1
2
3
4
5
6
7
8

In [4]:
for i in countriesList:
    print(i)

India
US
Russia
Japan
Australia
UK

###### range()
* range(start,end+1,increment) #by default,increment=1,start=0

In [5]:
for i in range(6):   # range fun takes 0 upto 6 values ie., 0 to 5
    print(i)

0
1
2
3
4
5

In [6]:
for i in range(6,10): # 6 upto 10 but not 10
    print(i)

6
7
8
9

In [7]:
for i in range(2,12,2):
    print(i)

2
4
6
8
10

In [8]:
#Printing tables
for x in range(10,21):
    for y in range(1,11):
        print(x,"*",y,"=",(x*y))

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [9]:
# Even numbers less than given value
a=int(input("Number "))
for i in range(0,a,2):
    print(i)

Number 20
0
2
4
6
8
10
12
14
16
18

In [10]:
# Even numbers less than given value
a=int(input("Number "))
for i in range(a):
    if(i%2==0) :
        print(i)

Number 20
0
2
4
6
8
10
12
14
16
18

### While loop

In [11]:
i=1
while i<=10 :
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [12]:
i=1
while i<=10 :
    if(i%2==0) :
        print(i)
    i=i+1

2
4
6
8
10

## break , continue & pass

In [13]:
# we don't want 3 value
for i in range(10):
    if i==3 :
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [14]:
#odd numbers
for i in range(10):
    if i%2 ==0:
        continue
    print(i)

1
3
5
7
9

In [15]:
for i in range(10):
    if i>5 :
        break
    print(i)

0
1
2
3
4
5

In [16]:
i=1
while i<10:
    i=i+1
    print(i)
    if i==6:
        break

2
3
4
5
6

In [17]:
i=1
while i<10:
    i=i+1
    if i==6:
        break
    print(i)

2
3
4
5

In [18]:
i=1
while i<10:
    i=i+1
    if i==6:
        continue
    print(i)

2
3
4
5
7
8
9
10

In [19]:
for i in range(10):

SyntaxError: unexpected EOF while parsing (<ipython-input-19-39d65b6213c2>, line 2)

In [20]:
for i in range(10):
    pass

### else

In [21]:
for i in range(10):
    print(i)
else:
    print("Loop finished")

0
1
2
3
4
5
6
7
8
9
Loop finished

In [22]:
i=1
while i<10:
    print(i)
    i=i+1
else:
    print("Loop finished")

1
2
3
4
5
6
7
8
9
Loop finished